$White: hsl(0, 0%, 100%);
$Verylightgrayishblue: hsl(210, 60%, 98%);
$Lightgrayishblue1: hsl(211, 68%, 94%);
$Lightgrayishblue2: hsl(205, 33%, 90%);
$Grayishblue: hsl(219, 14%, 63%);
$Darkgrayishblue: hsl(219, 12%, 42%);
$Verydarkblue: hsl(224, 21%, 14%);
$Red: hsl(1, 90%, 64%);
$Blue: hsl(219, 85%, 26%);

$notification-font-size : 24px;
$notification-name-font-size : 13px;
$notification-text-font-size : 12px;
$mark-font-size : 13px;

@mixin jakarta-font($weight) {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: $weight;
}

@mixin flex-default($flex-direction, $aic, $jcc) {
    align-items: $aic;
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $jcc;
}

* {
    box-sizing: border-box;
}

body {
    background-color: $Verylightgrayishblue;
    margin: 0;
    padding: 0;
}

div{
    display: inline-block;
}

.container {
    background-color: $White;
    border-radius: 20px;
    left: 50%;
    
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;

    .notif-header {

        @include flex-default(row, center, space-between);

        margin: 4px 20px 15px;

        .notif-title-counter {
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 10px;

            h1 {
                @include jakarta-font(800);
                font-size: $notification-font-size;
                margin: 0;
                padding: 0;
            }

            span {
                @include jakarta-font(500);
                border-radius: 4px;
                background-color: $Blue;
                color: white;
                font-size: 14px;
                padding: 1px 10px;
            }
        }

        p {
            @include jakarta-font(300);
          
            color: $Darkgrayishblue;    
            cursor: pointer;
            font-size: $mark-font-size;
            user-select: none;
        }
    }

    .notif-container {
        @include flex-default(column, none, center);

        .notif {

            display: flex;
            padding: 10px ;
            border-radius: 8px;
            margin: 4px 20px;
            justify-content: space-between;
            align-items: center;
            z-index: 5;

            .picture-container{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 42px;
                height: 42px;
               
                .commented-picture {
                    width: 35px;
                    cursor: pointer;
                    display: inline-block;
                    // margin-left: 10px;
                }
    
                .commented-picture:hover {
                    // box-sizing:content-box;
                    // border-radius: 8px;
                    // pointer-events:fill;
                    // padding: 2px;
                    // border: 1px solid $Blue;
                }
            }
            
            .picture-container:hover{
                border-radius: 8px;
                box-shadow:inset 0 0 6px 1px lightgrey;
                
            }


            .another-container {
                display: flex;
                align-items: center;
                pointer-events: none;
                .user-profile {
                    align-self:flex-start;
                    width: 40px;
                    height: 40px;
                }


                .notif-info {
                    margin-left: 10px;
                    pointer-events: none;

                    .name-description {

                        .name {
                            @include jakarta-font(500);
                            margin: 0;
                            padding: 0;
                            font-size: $notification-name-font-size;
                            font-weight: bold;
                        }

                        .dot {
                            align-items: center;
                            background-color: red;
                            border-radius: 100px;
                            width: 6px;
                            height: 6px;
                            margin-left: 5px;
                        }

                        .post-desc {
                            @include jakarta-font(300);
                            font-size: $notification-text-font-size;
                            color: $Darkgrayishblue;
                            pointer-events: none;

                            .club {
                                pointer-events: fill;
                                cursor: pointer;
                                color: black;
                                font-weight: bold;
                            }

                            .strat{
                                font-weight: bold;
                            }

                            .club:hover {
                                color: $Blue;
                            }
                        }
                    }

                    .message {
                        pointer-events: fill;
                        @include jakarta-font(300);
                        font-size: 12px;
                        width: 85%;
                        color:$Darkgrayishblue;
                        // background: $Lightgrayishblue1;
                        border-radius: 8px;
                        border: 1px solid lightgrey;
                        padding: 12px 8px;
                    }

                    .message:hover{
                        cursor: pointer;
                        border:1px solid transparent;
                        background-color: $Lightgrayishblue2;
                    }

                    @media (max-width: 500px) {
                        .message{
                            width: 100%;
                        }
                    }

                    .post-duration {
                        color: $Darkgrayishblue;
                        @include jakarta-font(300);
                        font-size: 11px;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }

    .notif-read {
        // background: grey;
    }

    .notif-unread {
        background: $Lightgrayishblue1;
    }


    .element-hover {
        pointer-events: fill;
        cursor: pointer;
        font-weight: bold;
        // color: darkgray;
    }


    .element-hover:hover {
        color: $Blue;
    }

}

@media (max-width: 500px) {
   
    .container{
        // display: flex;
        // background: blue;
        width: 100%;
        height: 100vh;

        .notif-header{
            position: sticky;
            top: 50px;

            .notif-title-counter{
                gap: 4px;
                h1{
                    font-size: 18px;
                    // margin-right: -10px;
                }

                span{
                    font-size: 12px;
                    padding: 4px 8px;
                    // height: 10px;   
                }

                p{
                    font-size: 8px;
                }
            }
        }

        .notif-container{
            .notif{
                .commented-picture{
                    width: 35px;
                    height: 35px;
                }
            }
        }

    
    }
}