*{
    box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    width: 50%;

}

.notif-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    .notif-title-counter{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        h1{
    
        }
        span{
    
        }
    }

    p{

    }
}

.notif-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .notif{
        display: flex;

        // align-items:flex-start;
        // justify-content: center;
        .user-profile{
            align-self: center;
            width: 80px;
            height: 80px;
        }

        .notif-info{

            .name-description{
                display: flex;
                align-items: center;
                .name{
                    margin: 0;
                    padding: 0;
                }
    
                .post-desc{

                }
            }

            .post-duration{
                margin: 0;
                padding: 0;
            }
        }
    }
}

.notif-read{
    background: grey;
}

.notif-unread{
    background: pink;
}

.notif-unread::after{
   
}


.element-hover{

}

.element-hover:hover{

}